* {
    box-sizing: border-box;
    margin: 0;
}

.gallery-card {
    height: 300px;
    border-radius: 8px;
    background-size: 120%;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px #5d5d5d;
    transition-duration: 500ms;
    margin: 3px 2px;
}

.gallery-card:hover {
    cursor: pointer;
}

.thumbnail {
    width: 146px;
    height: 221px;
    border: none;
    border-top-left-radius: 8px;
    flex: 146px 0 0;
}

.side-info {
    padding: 2px;
    flex: 1 0 0;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid #797979;
    word-break: break-word;
}

.card-body {
    display: flex;
    flex-flow: row nowrap;
}

.info > div {
    min-width: 2rem;
    padding: 1px 5px;
    margin: 0 3px 0 0;
    text-align: center;
}

.category {
    background-color: #FBDDBA;
}

.genre-name {
    background-color: #e7ada7;
}

.title {
    flex: 4;
    font-size: 20pt;
    color: #4D4D4D;
    border-bottom: 1px solid #797979;
    display: flex;
    align-items: center;
    width: 100%;
}

.card-hover {
    background-color: #ca937230;
}

.writer {
    display: flex;
    align-items: center;
    flex: 1;
}

.catchphrase {
    text-align: center;
}

.category-btn {
    border: none;
    background-color: #242424;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
}

.category-btn:hover {
    background-color: black;
    color: aliceblue;
}

.gallery-content > div {
    padding: 2px;
}

.page-link {
    background-color: #F5EFE7;
    color: #4D4D4D;
    outline: none;
    border: none;
}

.page-link:hover {
    background-color: #ebe5dd;
    color: #483507;
}

.page-link:focus {
    box-shadow: 0 0 0 0.3rem #ca937250;
}

.card-info {
    display: flex;
    min-height: 180px;
    background-color: #36454f15;
}

.thumbnail_url {
    padding: 2px;
    display: flex;
    flex: 150px 0 0;
    border-bottom: 1px solid #797979;
}

.info {
    display: flex;
    justify-content: left;
    justify-self: flex-start;
}

.ai {
    background-color: #ad76d7;
    color: white;
}


.side-menu {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.side-menu > div {
    flex: 1;
    display: flex;
    justify-content: end;
    min-height: 20px;
}

button {
    cursor: pointer;
}

.common-button {
    display: inline-block;
    min-width: 5rem;
    background-color: #ca9372;
    color: white;
    border-radius: 5px;
    margin: 5px;
    border: none;
    max-height: 35px;
}

.common-button-group {
    font-size: 10pt;
    display: inline-block;
    min-width: 5rem;
    background-color: #FFFFFF;
    color: black;
    border: none;
    --bs-btn-padding-x: 10px;
    --bs-btn-padding-y: 5px;
    --bs-btn-active-bg: #ca9372;
}

#delete-form {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.insert-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: #ca9372;
    color: white;
    max-height: 35px;
}

.disclosure > div {
    margin: 0;
    padding: 0;
}

.content-link {
    padding: 5px 15px;
    margin: 3px 0;
    background-color: #ca937250;
    cursor: pointer;
    transition-duration: 300ms;
    border-radius: 10px;
}

.content-link:hover {
    background-color: #ca937290;
    color: white;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box > * {
    margin-left: 5px;
}

select[name=searchCode] {
    flex: 0 0 0;
}

input[name=searchQuery] {
    flex: 1 0 0;
}

input[name=sordCode] {
    flex: 0 0 0;
}

.sortLabel {
    flex: 4rem 0 0;
}

.vr {
    flex: 0 0 0;
}

#currentPage {
    background-color: #ca9372;
    color: #FFFFFF;
}

/*Card View*/

.view-card-info {
    display: flex;
    min-height: 180px;
    background-color: #36454f15;
}

.view-thumbnail_url {
    display: flex;
    flex: 150px 0 0;
    padding: 2px;
}

.view-thumbnail {
    width: 146px;
    height: 221px;
    border: none;
    flex: 146px 0 0;
}

.view-card-body {
    padding-left: 5px;
    padding-right: 5px;
    flex-flow: column nowrap;
    flex: 2 0 0;
    display: flex;
}

.view-card-body > div {
    flex: 1 0 0;
    border-bottom: 1px solid #c2bdb5;
}

.view-card-body > .view-info {
    flex: 10px 0 0;
    display: flex;
    border: none;
}

.view-info > div {
    min-width: 2rem;
    padding: 1px 5px;
    margin: 3px 3px 0 0;
    text-align: center;
}

.view-title {
    flex: 2 0 0;
    font-size: 20pt;
    color: #4D4D4D;
}

.view-writer {
    flex: 2;
}

.view-catchphrase {
    flex: 1;
}

.view-synopsis {
    flex: 2;
}

.view-side-menu {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

.view-side-menu > div {
    flex: 1;
    display: flex;
    justify-content: end;
    min-height: 20px;
}

.view-side-menu-collapse {
    display: flex;
    flex-direction: row;
}

.view-side-menu-collapse > div {
    flex: 1;
    display: flex;
    justify-content: end;
    min-height: 20px;
}

.disclosure > div {
    margin: 0;
    padding: 0;
}

/* MyPage */

.secrete {
    color: #797979;
}

.accordion-head {
    position: relative;
    background-color: #C7B299;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.category-head {
    font-size: 18pt;
    font-weight: bold;
}

.btn-position-right {
    position: absolute;
    right: 1%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item-next {
    display:flex!important;
}

#duple{
    background-color: #945d39;
    color: #797979;
}

/* card insert */

.input-box {
    margin: 0 0 10px 0;
    padding-left: 15%;
    padding-right: 15%;
}

.input-text {
    font-size: 10pt;
    border: none;
    border-bottom: 1px solid #dddddd;
    transition-duration: 400ms;
    outline: none;
    width: 100%;
}

.input-text:focus {
    border-bottom: 1px solid #ca9372;
}

.preview-img {
    max-width: 65vw;
}

.nc-button {
    background-color: #ffffff00;
    transition-duration: 500ms;
}

/* content insert */

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 30px auto;
}

.modal_link {
    width: 150px;
    height: 50px;
    padding: 10px 5px;
    border-radius: 15px;
    border: none;
    background-color: #19197050;
    cursor: pointer;
}

.modal_link:hover {
    background-color: #19197080;
}

.modal_link:active {
    background-color: #19197097;
}

.modal-wrap {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeInModal 500ms linear;
}

.my-modal-content {
    height: 450px;
}

.modal-body {
    width: 600px;
    height: 450px;
    padding: 30px 30px;
    border: 1px solid #777;
    background-color: #fff;
}

.modal_input_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.third_party_link {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
    background-color: #80808020;
}

.confirm_video_link {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #19197050;
}

.close-btn {
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 25px;
    cursor: pointer;
}

.hidden {
    display: none!important;
}

.pop {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.preview {
    display: flex;
    justify-content: center;
}

.content-body {
    padding: 2rem 0 0 0;
}

.content-title {
    border-radius: 8px;
    font-size: xx-large;
    background-color: white;
    margin: 0 0 25px 0;
    padding: 10px;
}

.content-video, .content-audio, .content-file {
    border-radius: 8px;
    padding: 10px;
    background-color: hsla(0,0%,50.2%,.11);
    margin-bottom: 25px;
}

.content-txt {
    border-radius: 8px;
    padding: 10px;
    background-color: hsla(0,0%,50.2%,.11);
    min-height: 125px;
}

.content-disclosure {
    font-size: 12pt;
}

.img-file {
    max-width: 65vw;
}