<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chat">
	<insert id="insert">
		insert into chat_list (seq,mentor,mentee) values (chat_list_seq.nextval,${mentor},${mentee})
	</insert>
	
	<update id="update">
		update chat_list set yn = 'Y' where seq = ${seq}
	</update>
	
	<delete id="delete">
		delete from chat_list where seq = ${seq}
	</delete>
	
	<select id="select" resultType="kh.final_project.dto.ChatlistDTO">
		select chat_list.*,mentor.nickname mentorname,mentee.nickname menteename from chat_list join members mentee on chat_list.mentee = mentee.code join members mentor on chat_list.mentor = mentor.code where mentor = #{loginID} or mentee = #{loginID}
	</select>
	
	<select id="check" resultType="boolean">
		select count(*) from chat_list where seq = ${seq} and ( mentor = ${code} or mentee = ${code} )
	</select>
	
	<select id="doublecheck" resultType="boolean">
		select * from chat_list where mentor = ${mentor} and mentee = ${mentee}
	</select>
	
</mapper>