<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Community">
	<select id="getBoardType" resultType="kh.final_project.dto.CategoryType">
		select * from board_type
	</select>

	<insert id="insertBoard">
		<selectKey keyProperty="board_name" resultType="String" order="BEFORE">
			select board_name from board_type where code = #{board_type}
		</selectKey>
		insert into ${board_name}_BOARDS values
		(${board_name}_BOARDS_SEQ.NEXTVAL, #{board_type}, #{title}, #{writer}, #{txt}, default, default)
	</insert>

	<select id="selectBoard" resultType="kh.final_project.dto.BoardsDTO">
		select * from ${name}_BOARDS
	</select>
	
<!-- 	페이징 -->
	<select id="selectBoardByPage" resultType="kh.final_project.dto.BoardsDTO">
		select * from(select ${board_name}_BOARDS.*, row_number() over(order by seq desc) rn from ${board_name}_BOARDS)
		where rn between #{startPost} and #{endPost}
	</select>
<!-- 	페이징 -->

	<update id="viewUp">
		update ${board_name}_BOARDS set total_count = total_count + 1 where seq = #{seq}
	</update>
	<select id="selectBoardView" resultType="kh.final_project.dto.BoardsDTO">
		select * from ${board_name}_BOARDS where seq = #{seq}
	</select>

	<update id="updateBoard">
		update ${board_name}_BOARDS set title = #{title}, txt = #{txt}, write_date = default where seq = #{seq}
	</update>

	<delete id="deleteBoard">
		delete from ${board_name}_BOARDS where seq = ${seq}
	</delete>

	<insert id="insertReply">
		insert into ${board_name}_REPLYS values
		(${board_name}_REPLYS_SEQ.NEXTVAL, #{reply_type}, #{parent_board}, null, #{writer}, #{txt}, default)
	</insert>

	<select id="selectReply" resultType="kh.final_project.dto.BoardsReplyDTO">
		select * from ${board_name}_REPLYS where parent_board = #{parent_board}
	</select>

	<delete id="deleteReply">
		delete from ${board_name}_REPLYS where seq = #{seq}
	</delete>

	<update id="updateReply">
		update ${board_name}_REPLYS set txt = #{txt}, write_date = default where seq = #{seq}
	</update>

	<select id="getMax" resultType="int">
		select count(*) from ${value}_BOARDS
	</select>
</mapper>