<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Email">
	<insert id="insert">
		insert into emailcheck (EMAIL, EMAIL_TYPE, RANDOM_KEY) values (#{email, jdbcType=VARCHAR},#{email_type, jdbcType=NUMERIC},#{random_key, jdbcType=VARCHAR})
	</insert>

	<select id="select" resultType="boolean">
		select count(*) from emailcheck where email = #{email, jdbcType=VARCHAR} and email_type=#{email_type, jdbcType=NUMERIC} and random_key=#{random_key, jdbcType=VARCHAR}
	</select>
</mapper>



