<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
    <select id="PROC_CHK_MEMBER" statementType="CALLABLE" resultType="kh.final_project.dto.MemberDTO">
        {
        call PROC_CHK_MEMBER(
        #{email, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
        #{email_type, mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer},
        #{password, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
        #{code, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Integer},
        #{member_type, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Integer},
        #{nickname, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
        )
        }
    </select>


    <select id="passwordCheck" resultType="boolean">
        select * from members where password = #{password} and nickname=#{nickname}
    </select>

    <insert id="insert">
        <if test="member_type == 1000">
            insert into members (code, member_type, email,email_type,password,nickname) values(member_code_seq.nextval,${member_type},#{email},${email_type},#{password},#{nickname})

        </if>

        <if test="member_type == 2000">

            insert into members values(member_code_seq.nextval,${member_type},#{email},${email_type},#{password},#{nickname},${file_type},#{file_url},null,null,null,default,null,default)
        </if>
    </insert>

    <!--이메일 인증 -->
    <select id="selectEmail" resultType="kh.final_project.dto.EmailTypeDTO">
        select * from email_type where yn = 'Y'
    </select>
    <select id="getEmailName" resultType="String">
        select name from email_type where code = #{email_type}
    </select>

    <select id="getEmailCode" resultType="Integer">
        select code from email_type where name= #{value}
    </select>

</mapper>