<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Type">
	<select id="SelectType1" resultType="kh.final_project.dto.CategoryType">
		SELECT * FROM ${value} ORDER BY CODE ASC
	</select>
	<select id="SelectType2" resultType="kh.final_project.dto.CategoryType">
		SELECT * FROM ${value} WHERE YN = 'Y' ORDER BY YN DESC, SORT ASC
	</select>
	<select id="SelectType2_" resultType="kh.final_project.dto.CategoryType">
		SELECT * FROM ${value} ORDER BY YN DESC, SORT ASC
	</select>
	<select id="SelectType2ByCode" resultType="kh.final_project.dto.CategoryType">
		SELECT * FROM ${value} WHERE CODE = #{code, jdbcType=NUMERIC}
	</select>
	<select id="PROC_TYPE_UI" statementType="CALLABLE">
		{ CALL PROC_TYPE_UI(
		#{tableName, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String},
		<foreach collection="list" item="item" separator=",">
			#{item, mode=IN, javaType=kh.final_project.dto.CategoryType, jdbcType=OTHER, typeHandler=kh.final_project.commons.YourObjectStructTypeHandler}
		</foreach>
		)}
	</select>
</mapper>