<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Type">
	<select id="Select" resultType="kh.final_project.dto.CategoryType">
		SELECT * FROM ${value} ORDER BY CODE ASC
	</select>
	<select id="SelectType2" resultType="kh.final_project.dto.CategoryType">
		SELECT * FROM ${value} ORDER BY YN DESC, SORT ASC
	</select>


	<select id="PROC_TYPE_UI" statementType="CALLABLE" parameterType="java.util.Map">

		DECLARE DATA TYPE_OBJ

		<foreach collection="list" item="item" separator=",">
			INSERT INTO DATA VALUES (#{item.code},#{item.sort},#{item.name},#{item.yn})
		</foreach>

		<!-- call PROC_TYPE_UI( -->
		<!-- #{tableName, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String} -->
		<!-- #{tableName, mode=IN, jdbcType=VARCHAR, javaType=java.lang.String} -->
		<!-- ) -->
		<!-- } -->
	</select>
</mapper>